//
//  Production.xcconfig
//  MovieHub
//
//  Created by Mahmudullah on 17/2/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
HOST = https:/$()/api.themoviedb.org
IMAGE_BASE_URL = https:/$()/image.tmdb.org/t/p/w500
API_KEY = 38e61227f85671163c275f9bd95a8803
